.RhymesContainer{
    position: absolute;
    width: 735px;
    height: auto;
    background: #E1E1E1;
    margin-top: 31px;
    font-family:'Bai Jamjuree';
    text-align: left;
}
h3{
    font-size: 48px;
    margin: 20px 29px;
}

.upperWord{
    color: #2B50AA;
}

.rhymesInnerContainer{
    width:735px ;
    margin:30px;
    margin-bottom:40px;
    color:black;
}
.rhymeName{
    color:#2B50AA;
    font-weight: bold;
    font-size: 32px;
}
.rhymeName:hover{
    cursor: pointer;
    text-decoration: underline;
}

.noResults{
    font-size: 25px;
}
