
.searchBarContainer{
    display: flex;
    width: 735px;
    height: 107px;
    background-color: #E1E1E1;
    margin: 0 auto;
}
.searchBar{
    display: flex;
    margin:auto;
    width: 710px;
    height: 82px;
    background: #FFFFFF;
    border: 7px solid #333333;
    box-sizing: border-box;
}

.searchBarInput{
    font-family: 'Bai Jamjuree';
    border:none;
    width: 535px;
    font-size: 36px;
    margin: auto;
    margin-right: 18px;
    outline-width: 0;
}

.icon{
    margin: 19px 19px 19px 19px;
}

.icon:hover{
    cursor: pointer;
}
