@import url('https://fonts.googleapis.com/css2?family=Average&family=Bai+Jamjuree:wght@200;300;400;700&display=swap');

html{
  color: #333333;
  font-family: 'Bai Jamjuree';
}

body{
  width: 735px;
  margin: 0 auto;
}
.App {
  text-align: center;
}

.header{
  width: 557px;
  margin: 20px auto;
}

.header h2{
  position: relative;
  top:15px;
  font-size: 32px;
  font-family: 'Average';
  font-weight: lighter;
  margin: 0;
  text-align: left;
}
.header h1{
  font-size: 64px;
  font-family: 'Bai Jamjuree';
  font-weight: bold;
  margin: 0;
}